/*---------------------------------------------------------
 1. Colors
 2. Size
-------------------------------------------------------- */

// 1. Colors
$c_white: #fff;
$c_dark: #292929;
$c_medium_dark: #555;
$c_light_text: #dedede;
$c_dark_background: #f8f8f8;
$c_placeholder: #999;
$c_link: #006699;
$c_all_text: #777;
$c_boder: #ddd;

//2. Size
$s_circle: 50%;